body{
	background-color: #444;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

main{
	background-color: #777;
	padding: 15px;
	width: 600px;
	border-radius: 10px;
	margin: 10px auto;
}

.configs{
	display: flex;
	align-items: center;
	color: #222;
	width: 520px;
}

.configs p, input{
	padding: 1px 10px;
}

.configs input{
	padding: 0.2em;
	font-size: .9em;
}

.configs label{
	margin-right: 1em;
}

input#feito{
	display: flex;
	margin: auto;
}